.scan{
    position:relative;
    width: 500px;
    height: 500px;
}
.scanBaseA{
    position: absolute;
    top:0%;
    left:0px;
    width:100%;
    height:100%;
    animation:moveBase;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.scanBaseB{
    position: absolute;
    top:0%;
    left:-200%;
    width:100%;
    height:100%;
    animation:moveBaseBack;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.scanBase{
    position: absolute;
    top:0%;
    left:0px;
    width:100%;
    height:100%;
    opacity:1;
}
.pageCont{
    position: absolute;
    top:0%;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
}
.pageContA{
    position: absolute;
    top:0%;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
    animation:relPages;
    animation-duration: 1s;
    animation-delay:600ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.pageContB{
    position: absolute;
    top:0%;
    left:0px;
    width:100%;
    height:100%;
    opacity:0;
    animation:hidePages;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
#svg272{
    width:100%;
    height:100%;
}

#ann{
    animation:blinkAnn;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-delay:1s;
}
#way_0{
    fill:#4fe59e;
    animation:blinkWay0;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
#way_1{
    fill:#4fe59e;
    animation:blinkWay1;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
#way_2{
    fill:#4fe59e;
    animation:blinkWay2;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

}
#way_3{
    fill:#4fe59e;
    animation:blinkWay3;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

}
#way_4{
    fill:#4fe59e;
    animation:blinkWay4;
    animation-duration: 1.4s;
    animation-timing-function:linear;
    animation-direction:normal;
    animation-iteration-count:infinite;
}
#way_5{
    fill:#4fe59e;
    animation:blinkWay5;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}
#way_6{
    fill:#4fe59e;
    animation:blinkWay6;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

}
#way_7{
    fill:#4fe59e;
    animation:blinkWay7;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

}
#soniir{
    animation:moveDown;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function: linear;
    animation-delay:2s;
}
@keyframes moveDown{
    0%{
        /* transform: rotate(0deg); */
        transform: translateX(0.46px);
        transform: translateY(133.94622px);
    }
    100%{
        /* transform:rotate(180deg); */
        transform:translateX(0.46px);
        transform:translateY(533.94622px);
    }
}
@keyframes blinkWay0{
    0%{
        fill:#4fe59e;
    }
    10%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay1{
    0%{
        fill:#4fe59e;
    }
    20%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay2{
    0%{
        fill:#4fe59e;
    }
    30%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay3{
    0%{
        fill:#4fe59e;
    }
    40%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay4{
    0%{
        fill:#4fe59e;
    }
    50%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay5{
    0%{
        fill:#4fe59e;
    }
    60%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay6{
    0%{
        fill:#4fe59e;
    }
    70%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkWay7{
    0%{
        fill:#4fe59e;
    }
    80%{
        fill:#18a562;
    }
    100%{
        fill:#18a562;
    }
}
@keyframes blinkAnn{
    0%{
        fill:#a4a318;
    }  
     
    100%{
        fill :#e5e44f;
    }
}
@keyframes moveBase{
    0%{
        left:0%;
        opacity:1;
    }
    100%{
        left:-200%;
        opacity:0;
    }
}
@keyframes moveBaseBack{
    0%{
        left:-200%;
        opacity:0;
    }
    100%{
        left:0%;
        opacity:1;
    }
}
@keyframes relPages{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes hidePages {
    0%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}